<footer class="page-footer font-small unique-color-dark "  style="background-image: url('footer.svg');">
    <div class="container text-center text-md-left mt-5">
      <br>
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6  style="color: rgb(0, 0, 0);text-align: center; font-weight: 800; font-size: x-large; "> Club Members   !!!</h6>
          <br>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <a class="btn btn-outline-dark" href="/login">LOGIN</a>
          <br>
        
          <br>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6  style="color: rgb(0, 0, 0);text-align: center; font-weight: 800; font-size: x-large; "> Contact </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <p style="color: rgb(0, 0, 0); text-align: center;">datapirates@dp.com</p>
          </p>
          <p>
            <p style="color: rgb(0, 0, 0); text-align: center;">+91 568925698</p>
          </p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6  style="color: rgb(0, 0, 0);text-align: center; font-weight: 800; font-size: x-large; "> Address </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p style="color: rgb(0, 0, 0); text-align: center;">
           
            Amrita Vishwa Vidyapeetham , Amritapuri Campus Area ,<br>
           Shivam Block ,<br> Kerala , INDIA.</p>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color: rgb(0, 0, 0);">© 2021 data_pirates  
    <br>
  Made with &hearts; by <a href="https://igkishore.herokuapp.com/" style="text-decoration: none; color: rgb(0, 0, 0); font-weight: 800; text-transform: capitalize;"><span > Gowtham Kishore Indukuri </span></a>  </div>
  </footer>