<div >
  <nav class="navbar fixed-top  navbar-expand-lg navbar-light navhome" style="background-color: #00ffc6;">
      <a class="navbar-brand " href="/" ><span class="navbrand"><span style="color: rgb(253, 253, 253);">Data</span>Pirates</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 uul" >
          <li class="nav-item ">
            <a class="nav-link"  href="/"><span class="navkey">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects"><span class="navkey" >Projects</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members"><span class="navkey" >Members</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="blogs"><span class="navkey" >Blogs</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout"><span class="navkey" >Logout</span></a>
        </li>
        </ul>
      </div>
    </nav>
</div>