<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/navbar2') %>

    <div class="jumbotron jumbotron-fluid" style="margin-top: 100px; background-color: teal;" >
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12">
                <h1 style="text-align: center;">ffffffffffffffffffff</h1>
              </div>
              
          </div>
      </div>
    </div>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">


                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="project-admindashboard.jfif" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Review Project  </h5>
                          <p class="card-text">Project</p>
                          <a href="/admin/reviewproject" class="btn btn-primary">Click</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="blog-admindashboard.jfif" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Review Blog  </h5>
                        <p class="card-text">Blog</p>
                        <a href="/admin/reviewblog" class="btn btn-primary">Click</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="avatar-admindashboard.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Review new Member  </h5>
                      <p class="card-text">Member</p>
                      <a href="/admin/reviewmember" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>   

            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="project-admindashboard.jfif" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Add Projects  </h5>
                    <p class="card-text">Projects</p>
                    <a href="/admin/addprojects" class="btn btn-primary">Click</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="blog-admindashboard.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Add Blogs </h5>
                  <p class="card-text">Blogs</p>
                  <a href="/admin/addblogs" class="btn btn-primary">Click</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="avatar-admindashboard.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Add Members  </h5>
                <p class="card-text">Members</p>
                <a href="/admin/addmembers" class="btn btn-primary">Click</a>
              </div>
          </div>
      </div> 
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="project-admindashboard.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Edit Projects  </h5>
              <p class="card-text">Projects</p>
              <a href="/admin/editprojects" class="btn btn-primary">Click</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 100px;">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="blog-admindashboard.jfif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Edit Blogs  </h5>
            <p class="card-text">Blogs</p>
            <a href="/admin/editblogs" class="btn btn-primary">Click</a>
          </div>
      </div>
  </div>

            </div> 
        </div>
      </div>
    



      <%- include('./partials/footer') %>


 
  
 
  </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>