<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('./partials/head') %>
</head>
<body>
   

  <%- include('./partials/navbar1') %>
   <div class="jumbotron jumbotron-fluid frontface"  >
       <div class="container">
       <div class="row" style="margin-top: 65px;">

        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 120px; margin-bottom: 50px;" > 
           <div class="container">
                <h2 style="color: rgb(0, 0, 0); font-weight: 800; text-transform: capitalize;">welcome all !!</h2>
                <h1 style="text-transform: capitalize; color: teal; font-weight: 800; letter-spacing: 2px; font-size: 55px;"  >Data<span style="color: black;">Pirates</span></h1>
                <p style="font-weight: 400; color: rgb(0, 0, 0);" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum blanditiis error beatae, cum quis harum et debitis ad illo provident architecto in accusamus reiciendis? Voluptatem quibusdam odit nulla, autem doloremque blanditiis atque quis est vel earum quia tenetur commodi provident dolores quidem ullam. Reiciendis corporis neque labore incidunt sequi nihil!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque reiciendis ea quis, doloribus animi asperiores voluptates facere hic similique nostrum.</p>
                <a href="/readmore"><button type="button" style="color: black;" class="btn btn-outline-dark">Readmore</button></a>
           </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 50px; margin-bottom: 50px;">
          <div class="container">
            <img src="lapmov.svg" alt="home" style=" margin-right: 50px; width:100%;">
         </div>
      </div>
      
        </div>
       </div>
   </div>

   
      <br>
      <div class="jumbotron jumbotron" style="background-color: white;" >
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
              <h1 style="font-weight: 800; text-align: center;"><span style="color:#e30f41 ;">ABOUT US</span></h1>
              <div class="jumbotron jumbotron" style="color: black; ">
                <p style="color: black; font-weight: 700; letter-spacing: 1px; ">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti perspiciatis nemo aut suscipit est eos, dicta id iusto aperiam repudiandae voluptatem ab quia magni excepturi fugit enim saepe ad, impedit tenetur harum voluptates ducimus repellendus illum. Sapiente, cum consectetur. Aspernatur reiciendis deleniti quaerat fugiat fugit illum, molestiae dignissimos asperiores ad repellat est quis illo iste amet excepturi id aperiam ducimus neque dolor. Voluptate vero modi consequatur voluptatum reiciendis repellendus rerum voluptas sapiente explicabo. Quo, ipsum. Ipsum officiis, provident mollitia iste sunt magni expedita impedit ea facilis nostrum eligendi ducimus vero temporibus dolorum assumenda excepturi beatae fuga accusantium exercitationem, quaerat sapiente? 
                </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <img  src="team2.svg" alt="Pictureof GK" style="width: 100%; margin-left: 20px;">
          </div>
        </div>
      </div>


      <div class="jumbotron jumbotron" style="background-color: white;" >
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <img  src="team1.svg" alt="Pictureof GK" style="width: 100%; margin-left: 20px;">
          </div>
          <div class="col-lg-7 col-md-12 col-sm-12">
              <div class="jumbotron jumbotron" style="color: black; ">
                <p style="color: black; font-weight: 700; letter-spacing: 1px; ">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptate optio saepe minus harum incidunt fugit error magnam veniam, ad sint natus magni officia ducimus laudantium iste labore quo veritatis quasi dicta quam aliquid sit. A perspiciatis numquam reprehenderit mollitia error corporis nobis nostrum facere. Animi consequatur repellat tenetur inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptate optio saepe minus harum incidunt fugit error magnam veniam, ad sint natus magni officia ducimus laudantium iste labore quo veritatis quasi dicta quam aliquid sit. A perspiciatis numquam reprehenderit mollitia error corporis nobis nostrum facere. Animi consequatur repellat tenetur inventore!
                </p>
              </div>
          </div>
          
        </div>
      </div>
      <br>

      <div class="jumbotron jumbotron" style="background-color: white;" >
        <div class="row">
          
          <div class="col-lg-7 col-md-12 col-sm-12">
            <h1 style="font-weight: 800; text-align: center;"><span style="color:#e30f41 ;">Our Mission !</span></h1>
              <div class="jumbotron jumbotron" style="color: black; ">
                <p style="color: black; font-weight: 700; letter-spacing: 1px; ">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptate optio saepe minus harum incidunt fugit error magnam veniam, ad sint natus magni officia ducimus laudantium iste labore quo veritatis quasi dicta quam aliquid sit. A perspiciatis numquam reprehenderit mollitia error corporis nobis nostrum facere. Animi consequatur repellat tenetur inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptate optio saepe minus harum incidunt fugit error magnam veniam, ad sint natus magni officia ducimus laudantium iste labore quo veritatis quasi dicta quam aliquid sit. A perspiciatis numquam reprehenderit mollitia error corporis nobis nostrum facere. Animi consequatur repellat tenetur inventore!
                </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <img  src="mission.svg" alt="Pictureof GK" style="width: 100%; margin-left: 20px;">
          </div>
          
        </div>
      </div>
      <br>
      
      <%- include('./partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>