<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Pirates | Web ka Club</title>
    <link rel="icon" href="/loglap.svg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div >
        <nav class="navbar fixed-top  navbar-expand-lg navbar-light navhome" >
            <a class="navbar-brand " href="/readmore" ><span class="navbrand"><span style="color: teal;">Data</span>Pirates</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0 uul" >
                <li class="nav-item ">
                  <a class="nav-link" href="/"><span class="navkey">Home</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="projects"><span class="navkey" >Projects</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="members"><span class="navkey" >Members</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogs"><span class="navkey" >Blogs</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </div>

    <div class="jumbotron jumbotron-fluid" style="margin-top: 100px; background-color: teal;" >
      <div class="container">
        <h1 style="text-align: center;">Explore our Projects!!</h1>
      </div>
    </div>



    <div class="jumbotron" style="background-color: white;">
        <div class="container">
            <form action="/nm" method="POST" >
            <div class="form-group">
              <label for="title">Name </label>
              <input type="text" class="form-control" name="memname" id="title"  placeholder="Enter Project Name" required>
            </div>
            <div class="form-group">
              <label for="title">git link</label>
              <input type="text" class="form-control" name="gitlink" id="point1"  placeholder="Enter Project Point One" required>
            </div>
            <div class="form-group">
              <label for="title">mail</label>
              <input type="text" class="form-control" name="mailid" id="point2"  placeholder="Enter Project Point two" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
          </form>
        </div>
    </div>






    <footer class="page-footer font-small unique-color-dark " style="background: black;" enctype="multipart/form-data">
      <div class="container text-center text-md-left mt-5">
        <br>
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;"> Admins Links   !!!</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <a href="/adminlogin"><button type="button" style="color: white;" class="btn btn-outline-dark">Admin login</button></a>
            <br>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold" style="color: #fff; text-align: center;">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <p style="color: #fff; text-align: center;">gowthamkishoreindukuri@gmail.com</p>
            </p>
            <p>
              <p style="color: #fff; text-align: center;">+91 6302968122</p>
            </p>
  
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold" style="color: #fff;text-align: center;">Address</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            
            <p style="color: #fff; text-align: center;">
             
              Amrita Vishwa Vidyapeetham , Amritapuri Campus Area ,<br>
             Shivam Block ,<br> Kerala , INDIA.</p>
  
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3" style="color: #fff;">© 2020 Copyright:
        <a href="http://igkishore.github.io/" style="color: #fff;"> gowtham_kishore_indukuri</a>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>